################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/data/texts
/MostCommonWordsFinder/bin/Development
/MostCommonWordsFinder/obj/Development
