################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/data/texts/*
!/data/texts/.gitkeep
/MostCommonWordsFinder/bin/*
/MostCommonWordsFinder/obj/*
/.vs
